# Large regenerable data — never commit
data/genome/
data/tcga/
data/raw/*.fastq
data/raw/*.fastq.gz
results/star/*.bam
results/star/*.bam.bai
results/trimmed/
results/fastqc/
results/star/*_Log.out
results/star/*_Log.progress.out
results/star/*_SJ.out.tab
results/multiqc/multiqc_data/

# Misc
install_packages.R
logs/
*.tmp
__pycache__/
.snakemake/
data/annotation/
nohup.out
results/counts/counts.txt
